.pie-chart-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aws-btn--large {
    --button-raise-level: 10px;
    --button-hover-pressure: 5;
    width: 220px;
    height: 254px;
    /* --button-large-width: 220px;
    --button-large-height: 254px; */
}
