.card {
    width: 220px;
    height: 254px;
    padding: 10px;
    margin: 10px;

    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fafafa;
    box-shadow: 3px 3px 5px #61233563;

    border: 1px solid #dcdcdc;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 6px 6px 6px #61233563;
    background-color: #e0e2e2;
    transition: 0.2s ease-out;
    cursor: default;
}

.card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: #f2e6e1fc;
    color: black;

    font-size: 12pt;
    font-weight: 550;
}

.host-id,
.name,
.date,
.location {
    padding: 0.5em;
    margin: 0;

    line-height: 1;
    text-align: center;
}

.name {
    padding: 2.5em 0em;
    font-size: large;
}
.org,
.email,
.link,
.bio {
    color: rgba(0, 0, 0, 0.656);
    font-size: 0.9em;
}

.link {
    font-size: 0.7em;
}
.picture {
    width: 100px;
    height: 100px;
}

.host-info {
    margin-bottom: 1em;
}

.remove-button {
    align-self: flex-end;
    padding: 0;
    margin: 0;

    background: none;
    border: 0px;
    font-weight: bold;
    font-size: 12pt;
    color: #566573;

    transition: all 0.3s ease;
}

.remove-button:hover {
    cursor: pointer;
    color: black;
    background: white;
    border-radius: 1em;
}

/* #E8D1C8BD -> good to use for smaller text */
