.main-page-container {
    height: 100%;
    /* width: 100vw; */
    width: 50%;
    flex: 1;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6cc2ea;
    /* display: none; */
}
.map {
    width: 50%;
    background: #6cc2ea;
    position: sticky;
    top: 0;
    /* height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.flexRowContainer {
    display: flex;
    flex-direction: row;
    background: #6cc2ea;
    flex-grow: 1;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.events-list {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    margin: 10px;
}

.add-event-button {
    margin: 15px;
    color: white;

    height: 40px;
    font-size: 1rem;
    font-weight: 500;

    padding: 0 1.2rem;

    border-radius: 0.4rem;
    border: none;

    background-color: #29b6f6;
    cursor: pointer;

    box-shadow: 0px 0px 3px #61233563;
}

.sort {
    background: #acd5e8;
    border: none;
    margin: 1em 3em 0 0;
    align-self: flex-end;
    border-radius: 5px;
}
.sort::before {
    content: '⇳';
    font-size: 1.2em;
    display: inline-block;
    margin-right: 5px;
    padding: 0.2em;
}
.showMoreBtn {
    background: #acd5e8;
    /* background: #57bae8; */
    border: none;
    /* border: 1px solid black; */
    margin: 0 3em 1em 0;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 0.6em 1.2em;
    /* text-decoration: underline; */
}

/* .showMoreBtn::after {
    content: "⬇️";
    
    color:white;
    font-size: .9em;
    display: inline-block;
    margin-left: 5px;
    padding: .2em;
    
} */
.container {
    width: 100vw;
    height: 100vh;
    background: #6cc2ea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offline {
    padding: 10px;
    /* border: 1px solid black; */
    color: white;
    font-size: 2em;
    border-radius: 10px;
    text-decoration: underline;
}

.closeMap-button {
    position: fixed;
    top: 9%;
    right: 25%;
    z-index: 1000;
    width: 30px;
    height: 20px;
    background: none;
    border: 0px;
    font-weight: bold;
    font-size: 12pt;
    color: #566573;

    transition: all 0.3s ease;
}

.closeMap-button:hover {
    cursor: pointer;
    color: black;
    background: white;
    /* border-radius: 1em; */
}
