{
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "useTabs": false,
    "endOfLine": "auto",
    "arrowParens": "always",
    "semi": false,
    "max-line-length": [
      true,
      {
        "limit": 140,
        "ignore-pattern": "^import |^export {(.*?)}"
        }
    ]
}